.laptop-container {
  display: grid;
  grid-template-columns: repeat(5,200px);
  justify-content: space-around;
  gap: 20px;
}
@media(max-width:800px) {
  .laptop-container{
  grid-template-columns: repeat(3,200px);
  }
}
@media(max-width:600px) {
  .laptop-container{
  grid-template-columns: repeat(2,200px);
  }
}
@media(max-width:400px) {
  .laptop-container{
  grid-template-columns: repeat(1,200px);
  }
}


.product-description {
  display: inline-block;
  cursor: pointer;
  background-color: #389cb5;
  height: 290px;
  border-radius: 3px;
  overflow: hidden;
  border-width: 4px;
  border-style: unset;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(46, 46, 46, 0.246);
  transition: height 0.2s;
}

.product-pic-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-top: 8px;
  height: 140px;
  background-color: #fffffff7;
  position: relative;
  overflow: hidden;
}

.product-description-hover-p {
  position: absolute;
  font-family: roboto, arial;
  font-size: 18px;
  color: #105c6f;
  text-shadow: 0px 0px 2px #ffffffdd;
  opacity: 0;
  transition: opacity 0.1ms;
}

.product-description:hover {
  box-shadow: 0px 0px 20px #58959544;
  height: 100%;
}

.product-description:hover .product-pic-section .product-description-hover-p {
  opacity: 1;
}

.product-description:hover .product-description-details-section .product-name {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.586);
}


.product-description-details-section {
  padding-left: 4px;
}

.product-description-details-section p {
  font-family: roboto, arial;
  margin: 8px;

}

.product-name {
  font-weight:600;
  font-size: 16px;
  color: white;
}

.product-price {
  color: rgb(9, 69, 74);
  font-size: 14px;
}

.product-company {
  color: rgb(3, 26, 43);
  font-size: 16px;
}
body {
  padding-top: 100px;
}

/* #brands-list-inner-section {
  height: 110px;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #10add4;
}

.brand-button {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  border: solid;
  border-width: 3px;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(233, 233, 233, 0.579);
  background-color: rgb(251, 251, 251);
  overflow: hidden;
  cursor: pointer;
}

.brand-button img {
  object-fit: scale-down;
  height: 90%;
  object-position: center;
}

#brands-list-outer-section {
  margin-top: 10px;
} */


.product-pic{
  width: 90%;
}
.product-processor,.product-storage,.product-memory{
  opacity: 1;
  font-size: 14px;
  color:rgb(239, 239, 239)
}
.product-storage,.product-memory{
  opacity: 0;
}
.product-description:hover .product-description-details-section
.product-storage
,
.product-description:hover .product-description-details-section
.product-memory{
  opacity: 1;
}